<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions for Firebase Authentication -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Removed QUERY_ALL_PACKAGES permission - using targeted queries instead -->
    <!-- SMS permissions for OTP auto-retrieval - Using SMS Retriever API instead -->
    <!-- Removed RECEIVE_SMS and READ_SMS as they violate Google Play policy -->
    <!-- Using SMS Retriever API for OTP which doesn't require dangerous permissions -->

    <!-- Storage permissions - Updated for Android 15 compatibility -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- WRITE_EXTERNAL_STORAGE removed as it's not needed for scoped storage -->

    <!-- Camera permission for profile pictures (optional, user-initiated only) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Note: Migrated to Android Photo Picker for image selection -->
    <!-- READ_MEDIA_IMAGES and READ_MEDIA_VIDEO permissions removed -->
    <!-- Using Android 13+ Photo Picker API instead -->

    <!-- Queries for URL launching on Android 11+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
        <!-- PhonePe SDK package query for Android 11+ -->
        <package android:name="com.phonepe.app" />
        <package android:name="com.phonepe.app.preprod" />
        <package android:name="com.phonepe.simulator" />
        <!-- UPI intent query -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
    </queries>

    <application
        android:label="Dakshin Postal Academy"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:requestLegacyExternalStorage="false"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:largeHeap="true">

        <!-- Support for 16 KB page sizes - Required for Android 15+ -->
        <property
            android:name="android.app.PROPERTY_SUPPORTS_16KB_PAGE_SIZES"
            android:value="true" />

        <!-- PhonePe SDK Configuration -->
        <!-- For SANDBOX mode, set isUAT to true -->
        <!-- For PRODUCTION mode, set isUAT to false -->
        <meta-data android:name="com.phonepe.android.sdk.isUAT" android:value="false"/>
        <!-- Enable simulator for testing without PhonePe app installed -->
        <meta-data android:name="com.phonepe.android.sdk.isSimulator" android:value="false"/>
        <!-- Merchant ID for SDK initialization -->
        <!-- SANDBOX: PGTESTPAYUAT86, PRODUCTION: M23KW70E4WTCU -->
        <meta-data android:name="com.phonepe.android.sdk.MerchantId" android:value="M23KW70E4WTCU"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- PhonePe payment return deep link -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mcqquizapp" android:host="payment" />
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
